body, html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: hidden;
}

.page-wrapper {
    background-color: rgb(47, 47, 47);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-left: 2vw;
    margin-top: 5vw;
    border-width: 0.25vh;
    width: 11vw;
    border: 0.3vh solid #000000;
}

.standard-time {
    background-color: rgb(52, 52, 52);
    color: rgb(224, 224, 224);
}

.computing-time {
    background-color: rgb(50, 50, 54);
    color: #c4e4ffff;
}

.solar-calendars{
    background-color: rgb(54, 50, 50);
    color: #ffe4c4ff
}

.lunisolar-calendars{
    background-color: rgb(50, 54, 50);
    color: #c4ffe4ff;
}

.lunar-calendars{
    background-color: rgb(50, 50, 54);
    color: rgb(196, 212, 255);
}

.decimal-time {
    background-color: rgb(54, 50, 50);
    color: #e4c4ffff;
}

.astronomical-data {
    background-color: rgb(54, 50, 50);
    color: rgb(252, 255, 196);
}

.box {
    margin: 0.5vh;
    width: 10vw;
    position: relative;
    display: inline-block;
}

.standard-time > .box > .content {
    border: 0.2vh solid #bbbbbb;
}

.computing-time > .box > .content {
    border: 0.2vh solid #696d9f;
}

.solar-calendars > .box > .content {
    border: 0.2vh solid #966a6a;
}

.lunisolar-calendars > .box > .content {
    border: 0.2vh solid #6f986a;
}

.decimal-time > .box > .content {
    border: 0.2vh solid #896a98;
}

.lunar-calendars > .box > .content {
    border: 0.2vh solid #7c6a98;
}

.astronomical-data > .box > .content {
    border: 0.2vh solid #6a9698;
}

.content {
    border-width: 0.25vh;
    padding: 0.7vh;
    font-size: 1.2vh;
    font-family: Arial, sans-serif;
    margin-top: 0.6vh;
    background-color: rgb(47, 47, 47);
}

.container-name {
    font-size: x-large;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #242424;
    color: rgb(214, 214, 214);
    text-align: center;
    border-radius: 6px;
    border: 0.4vh solid #000000;
    position: absolute;
    z-index: 1;
    width: 20vh;
    top: 25%;
    left: 50%;
    font-size: 1.5vh;
}

.box:hover .tooltip {
    visibility: visible;
}