body, html {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: rgb(255, 255, 255); /* Change the color of all links to blue */
}

.page-wrapper {
    background-color: rgb(47, 47, 47);
    /*background-color: rgb(129, 131, 119);*/
    /*background-color: rgb(0, 0, 0);*/
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.title-wrapper {
    position: relative;
    width: 99vw;
    font-size: 4vh;
    color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    z-index: 10;
    background-color: rgb(47, 47, 47);
}

.title-wrapper:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 0.3vh;
    background-color: #cbcbcb;
}

.description-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33vw;
    height: 90vh;
    top: 4vh;
    right: 0;
    margin: 4vh;
    margin-right: 3vh;
    margin-left: 2vh;
    margin-bottom: 0;
    background-color: rgb(55, 55, 55);
    border: 0.1vh solid #000000;
}

.node-wrapper {
    position: relative;
    display: grid;
    justify-content: center;
    max-width: 60vw;
    width: 60vw;
    left: 0;
    top: 1vh;
    margin-left: 3vh;
    margin-right: 0vh;
    margin-top: 2vh;
    margin-bottom: 0;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); /* Adjust column width as needed */
    grid-gap: 1vw; /* Adjust the gap between columns */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    font-size: 1.3vh;
    border: 0.25vh solid #000000;
    margin-bottom: 1vh;
}

.standard-time {
    background-color: rgb(52, 52, 52);
    color: rgb(224, 224, 224);
}

.computing-time {
    background-color: rgb(50, 50, 54);
    color: #c4e4ffff;
}

.solar-calendars{
    background-color: rgb(54, 50, 50);
    color: #ffe4c4ff
}

.lunisolar-calendars{
    background-color: rgb(50, 54, 50);
    color: #c4ffe4ff;
}

.lunar-calendars{
    background-color: rgb(50, 50, 54);
    color: rgb(196, 212, 255);
}

.proposed-calendars {
    background-color: rgb(53, 50, 53);
    color: rgb(191, 255, 252);
}

.other-calendars {
    background-color: rgb(50, 50, 54);
    color: rgb(220, 255, 191);
}

.decimal-time {
    background-color: rgb(54, 50, 50);
    color: rgb(232, 196, 255);
}

.astronomical-data {
    background-color: rgb(53, 53, 50);
    color: rgb(252, 255, 196);
}

.pop-culture {
    background-color: rgb(53, 53, 50);
    color: rgb(228, 196, 255);
}

.politics {
    background-color: rgb(52, 52, 52);
    color: rgb(196, 215, 255);
}


.node {
    margin: 0.5vh;
    width: 10vw;
    position: relative;
    display: inline-block;
}

.standard-time > .node > .content {
    border: 0.2vh solid #bbbbbb;
}

.computing-time > .node > .content {
    border: 0.2vh solid #696d9f;
}

.solar-calendars > .node > .content {
    border: 0.2vh solid #966a6a;
}

.lunisolar-calendars > .node > .content {
    border: 0.2vh solid #6f986a;
}

.decimal-time > .node > .content {
    border: 0.2vh solid #896a98;
}

.lunar-calendars > .node > .content {
    border: 0.2vh solid #7c6a98;
}

.proposed-calendars > .node > .content {
    border: 0.2vh solid #876a96;
}

.other-calendars > .node > .content {
    border: 0.2vh solid #716a96;
}

.astronomical-data > .node > .content {
    border: 0.2vh solid #6a9698;
}

.pop-culture > .node > .content {
    border: 0.2vh solid #95986a;
}

.politics > .node > .content {
    border: 0.2vh solid #986a6a;
}

.content {
    border-width: 0.25vh;
    padding: 0.7vh;
    font-size: 1.2vh;
    font-family: Arial, sans-serif;
    margin-top: 0.6vh;
    background-color: rgb(47, 47, 47);
    white-space: pre-wrap;
}

.container-name {
    font-size: 1.6vh;
}

.tooltip {
    position: relative;
    visibility: hidden;
    color: rgb(214, 214, 214);
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 1.8vh;
    width: 33vw;
    top: 9vh;
}

.node:hover .tooltip {
    visibility: visible;
}

.tooltip-title {
    font-size: 2.5vh;
    font-weight: bold;
    padding: 0.5vh;
    color: rgb(214, 214, 214);
}

.tooltip-title:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 4vh;
    transform: translateX(-50%);
    width: 50%;
    height: 0.3vh;
    background-color: #cbcbcb;
}

.tooltip-overview {
    text-align: left;
    padding: 1vh;
    white-space: pre-wrap;
}

.tooltip-epoch {
    text-align: left;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    padding-top: 3vh;
}

.tooltip-confidence {
    text-align: left;
    padding: 1vh;
}

.pre-description {
    position: absolute;
    color: rgb(214, 214, 214);
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 2vh;
    top: 9vh;
}

.input-box-wrapper {
    position: absolute;
    border-bottom: 0.3vh solid #1f1f1f;
    top: 0;
    width: 33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

#date-input {
    width: 18vw;
    height: 2vh;
    margin-right: 2vw;
    background-color: #c0c0c0;
    color: #000000;
    border-color: #000000;
    font-size: 1.2vh;
}

#change-date-button {
    height: 2.5vh;
    width: 5vw;
    font-size: 1.2vh;
    color: #afafaf;
    background-color: #2b2b2b;
    border-color: #443c3c;
}

.centered {
    display: block;
    text-align: center;
}

#BCEcheckbox {
    transform: scale(1.5);
    color: #6f986a;
    margin-right: 0.7vh;
}

#BCEcheckbox + label {
    color: rgb(214, 214, 214);
    font-size: 1.5vh; /* Change the font size of the label */
    margin-right: 1vh; /* Add some space between the checkbox and the label */
}

.header-button {
    height: 2.5vh;
    font-size: 1.2vh;
    color: #afafaf;
    background-color: #2b2b2b;
    border-color: #1b1b1b;
    flex: 1 0 auto;
    box-shadow: none;
}

.description-button-wrapper {
    position: absolute;
    top: 5.3vh;
    min-width: 32.9vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selected {
    border-bottom: 0;
}

.tooltip-info {
    text-align: left;
    padding: 1vh;
    padding-top: 3vh;
    white-space: pre-wrap;
}

.tooltip-accuracy {
    text-align: left;
    padding: 1vh;
    padding-top: 3vh;
    white-space: pre-wrap;
}