body, html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-y: hidden;
}

a {
    color: rgb(187, 211, 255);
}

.page-wrapper {
    background-color: rgb(47, 47, 47);
    /*background-color: rgb(129, 131, 119);*/
    /*background-color: rgb(0, 0, 0);*/
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.title-wrapper {
    position: absolute;
    width: 99vw;
    font-size: 4vh;
    color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    z-index: 10;
    background-color: rgb(47, 47, 47);
    overflow: hidden;
}

.title-wrapper:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 0.3vh;
    background-color: #cbcbcb;
}

.description-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33vw;
    height: 90vh;
    top: 4vh;
    right: 0;
    margin: 4vh;
    margin-right: 3vh;
    margin-left: 2vh;
    margin-bottom: 0;
    background-color: rgb(55, 55, 55);
    border: 0.2vh solid #000000;
    overflow: hidden;
}

.node-wrapper {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 63vw;
    top: 6vh;
    left: 1vh;
    margin: 2vh 0 0 2vh;
    grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
    grid-gap: 1vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3vh;
    border: 0.25vh solid #000000;
    margin: 0 1vh 1vh 0vh;
    width: 17vh;
}

.standard-time {
    background-color: rgb(52, 52, 52);
    color: rgb(224, 224, 224);
}

.computing-time {
    background-color: rgb(50, 50, 54);
    color: #c4e4ffff;
}

.solar-calendars{
    background-color: rgb(54, 50, 50);
    color: #ffe4c4ff
}

.lunisolar-calendars{
    background-color: rgb(50, 54, 50);
    color: #c4ffe4ff;
}

.lunar-calendars{
    background-color: rgb(50, 50, 54);
    color: rgb(196, 212, 255);
}

.proposed-calendars {
    background-color: rgb(53, 50, 53);
    color: rgb(191, 255, 252);
}

.other-calendars {
    background-color: rgb(50, 50, 54);
    color: rgb(220, 255, 191);
}

.decimal-time {
    background-color: rgb(54, 50, 50);
    color: rgb(232, 196, 255);
}

.other-time {
    background-color: rgb(54, 50, 50);
    color: rgb(203, 255, 196);
}

.astronomical-data {
    background-color: rgb(53, 53, 50);
    color: rgb(252, 255, 196);
}

.pop-culture {
    background-color: rgb(53, 53, 50);
    color: rgb(228, 196, 255);
}

.politics {
    background-color: rgb(52, 52, 52);
    color: rgb(196, 215, 255);
}


.node {
    margin: 0.5vh;
    width: 16vh;
    position: relative;
    display: inline-block;
}

.standard-time > .node > .content {
    border: 0.2vh solid #bbbbbb;
}

.computing-time > .node > .content {
    border: 0.2vh solid #696d9f;
}

.solar-calendars > .node > .content {
    border: 0.2vh solid #966a6a;
}

.lunisolar-calendars > .node > .content {
    border: 0.2vh solid #6f986a;
}

.decimal-time > .node > .content {
    border: 0.2vh solid #896a98;
}

.other-time > .node > .content {
    border: 0.2vh solid #98866a;
}

.lunar-calendars > .node > .content {
    border: 0.2vh solid #7c6a98;
}

.proposed-calendars > .node > .content {
    border: 0.2vh solid #876a96;
}

.other-calendars > .node > .content {
    border: 0.2vh solid #716a96;
}

.astronomical-data > .node > .content {
    border: 0.2vh solid #6a9698;
}

.pop-culture > .node > .content {
    border: 0.2vh solid #95986a;
}

.politics > .node > .content {
    border: 0.2vh solid #986a6a;
}

.content {
    border-width: 0.25vh;
    padding: 0.7vh;
    font-size: 1.2vh;
    font-family: Arial, sans-serif;
    margin-top: 0.6vh;
    background-color: rgb(47, 47, 47);
    white-space: pre-wrap;
}

.container-name {
    font-size: 1.6vh;
}

.tooltip {
    position: relative;
    visibility: hidden;
    color: rgb(214, 214, 214);
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 1.8vh;
    width: 33vw;
    top: 9vh;
}

.node:hover .tooltip {
    visibility: visible;
}

.tooltip-title {
    font-size: 2.5vh;
    font-weight: bold;
    padding: 0.5vh;
    color: rgb(214, 214, 214);
}

.tooltip-title:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 4vh;
    transform: translateX(-50%);
    width: 50%;
    height: 0.3vh;
    background-color: #cbcbcb;
}

.tooltip-epoch {
    text-align: left;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 1vh;
    padding-top: 3vh;
}

.tooltip-confidence {
    text-align: left;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 1vh;
}

.pre-description {
    position: absolute;
    color: rgb(214, 214, 214);
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 2vh;
    top: 9vh;
}

.input-box-wrapper {
    position: absolute;
    border-bottom: 0.3vh solid #1f1f1f;
    top: 0;
    width: 33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

#date-input {
    width: 15vw;
    height: 2vh;
    background-color: #c0c0c0;
    color: #000000;
    border-color: #000000;
    font-size: 1.2vh;
    margin-left: 1vh;
}

#change-date-button {
    height: 2.5vh;
    width: 5vw;
    font-size: 1.2vh;
    margin: 1vh;
    color: #afafaf;
    background-color: #2b2b2b;
    border-color: #443c3c;
}

#calendar-type {
    height: 2.5vh;
    width: 5vw;
    font-size: 1.2vh;
    color: #afafaf;
    background-color: #2b2b2b;
    border-color: #443c3c;
    margin: 1vh;
}

#timezone {
    height: 2.5vh;
    width: 5vw;
    font-size: 1.2vh;
    color: #afafaf;
    background-color: #2b2b2b;
    border-color: #443c3c;
}

.centered {
    display: block;
    text-align: center;
}

.header-button {
    height: 2.5vh;
    font-size: 1.2vh;
    color: #afafaf;
    background-color: #2b2b2b;
    border-color: #1b1b1b;
    flex: 1 0 auto;
    box-shadow: none;
}

.description-button-wrapper {
    position: absolute;
    top: 5.3vh;
    min-width: 32.9vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selected {
    border-bottom: 0;
}

.tooltip-overview {
    text-align: left;
    padding: 1vh;
    white-space: pre-wrap;
    text-align: justify;
    margin: auto 1rem auto 1rem;
}

.tooltip-info,
.tooltip-mission,
.tooltip-sources {
    text-align: left;
    padding: 1vh;
    padding-top: 3vh;
    white-space: pre-wrap;
    text-align: justify;
    margin: auto 1rem auto 1rem;
}

.tooltip-accuracy {
    text-align: left;
    padding: 1vh;
    padding-top: 3vh;
    white-space: pre-wrap;
    text-align: justify;
    margin: auto 0.5rem auto 0.5rem;
}

.home-button {
    position: absolute;
    height: 4vh;
    width: 28vw;
    bottom: 2vh;
    font-size: 2vh;
    color: #afafaf;
    background-color: #2b2b2b;
    border-color: #443c3c;
    border-width: 0.2vh;
    visibility: hidden;
}

.presidential-terms-container {
    column-count: 2;
    font-size: 1.3vh;
    text-align: center;
    background-color: rgb(47, 47, 47);
    border: 0.2vh solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.table-long th,
.table-long td {
    padding: 0.4vh;
}

.table-short th,
.table-short td {
    padding: 0.6vh;
}

.table-very-long th,
.table-very-long td {
    padding: 0.1vh;
}

.table-very-very-long th,
.table-very-very-long td {
    font-size: 1.5vh;
}

th, td {
    border: 0.2vh solid black;
    background-color: rgb(47, 47, 47);
    text-align: center;
}

.table-epoch th {
    color: #c9b79a;
}

.table-confidence th {
    color: #6f986a;
}


/*
|====================|
|  Scaling Elements  |
|====================|
*/

@media (max-aspect-ratio: 2/1.51) {
    .node-wrapper {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .node {
        width: 16vh;
    }
    .tooltip {
        font-size: 1.6vh;
    }
    .table-epoch th {
        min-width: 10vw;
    }
    
    .table-confidence th {
        min-width: 10vw;
    }
    .tooltip-epoch {
        padding: 2vh;
        padding-top: 3vh;
        padding-bottom: 1vh;
        min-width: 10vw;
    }
    
    .tooltip-confidence {
        padding: 2vh;
        padding-top: 1vh;
        min-width: 10vw;
    }
}

@media (max-aspect-ratio: 2/1.85) {
    .node-wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 0.2vw;
    }
}

@media (max-aspect-ratio: 2/1.95) {
    .node-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 55vw;
    }
    .tooltip {
        font-size: 1.6vh;
    }
}

@media (max-aspect-ratio: 2/2.1) {
    .tooltip {
        font-size: 1.5vh;
    }
    #date-input {
        font-size: 1vh;
    }
    
    #change-date-button {
        height: 2.5vh;
        width: 10vw;
    }
}

@media (max-aspect-ratio: 2/2.2) {
    .tooltip {
        font-size: 1.4vh;
    }
    .tooltip-epoch {
        padding: 0.5vh;
        padding-top: 1vh;
        min-width: 10vw;
    }
    
    .tooltip-confidence {
        padding: 0.5vh;
        padding-top: 1vh;
        min-width: 10vw;
    }
    .container {
        width: 15vh;
    }
    .node {
        width: 14vh;
    }
}

@media (max-aspect-ratio: 2/2.3) {
    .tooltip {
        font-size: 1.3vh;
    }
    .header-button {
        width: 2vw;
        font-size: 1vh;
    }
    #date-input {
        font-size: 0.9vh;
        width: 20vw;
    }
    
    #change-date-button {
        height: 2.5vh;
        width: 8vw;
        font-size: 1vh;
    }
    .container {
        width: 14vh;
    }
    .node {
        width: 13vh;
    }
    .content {
        font-size: 1vh;
    }
}

@media (max-aspect-ratio: 2/2.4) {
    .tooltip {
        font-size: 1.2vh;
    }
    .header-button {
        width: 2vw;
        font-size: 0.8vh;
    }
    .container {
        width: 13vh;
    }
    .node {
        width: 12.5vh;
    }
    .tooltip-info,
    .tooltip-mission,
    .tooltip-sources,
    .tooltip-overview {
        margin: auto 0.1rem auto 0.1rem;
        font-size: 1.2vh;
    }
    .tooltip-accuracy {
        margin: auto 0.1rem auto 0.1rem;
        font-size: 1.1vh;
    }
    .table-long th,
    .table-long td {
        padding: 0.2vh;
    }

    .table-short th,
    .table-short td {
        padding: 0.3vh;
    }

    .table-very-long th,
    .table-very-long td {
        padding: 0.1vh;
    }

    .table-very-very-long th,
    .table-very-very-long td {
        font-size: 1.1vh;
    }

    th, td {
        border: 0.1vh solid black;
    }

    .container-name {
        font-size: 1.4vh;
    }

    .tooltip-title {
        font-size: 1.5vh;
    }

    .tooltip-title:after {
        top: 2.5vh;
        height: 0.2vh;
    }
}