/*
|=======================|
|  Tables and Elements  |
|=======================|
*/

.presidential-terms-container {
    column-count: 2;
    font-size: 1.3vh;
    text-align: center;
    background-color: rgb(47, 47, 47);
    border: 0.2vh solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.table-long th,
.table-long td {
    padding: 0.4vh;
}

.table-short th,
.table-short td {
    padding: 0.6vh;
}

.table-very-long th,
.table-very-long td {
    padding: 0.1vh;
}

.table-very-very-long th,
.table-very-very-long td {
    font-size: 1.5vh;
}

.table-very-very-very-long th,
.table-very-very-very-long td {
    font-size: 1.2vh;
}

.mac-chrome-only .table-very-very-long th,
.mac-chrome-only .table-very-very-long td {
    font-size: 1.9vh;
}

th, td {
    border: 0.2vh solid black;
    background-color: rgb(47, 47, 47);
    text-align: center;
}

.table-epoch th {
    color: #c9b79a;
}

.table-confidence th {
    color: #6f986a;
}
